main {
    max-width: 1200px;
    margin: auto;
}
h1 {
    font-family: "Raleway";
    font-size: 60px;
    color: #355749;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}

span {
    font-family: "lobster two";
    font-size: 85px;
    font-weight: 800;
    color: #355749;
}

h2{
    font-family: "raleway";
    font-size: 30px;
    text-align: left;
    font-weight: 500;
    color: #355749;
}

p {
    font-family: "raleway";
    font-size: 16px;
    text-align: left;
    color: black; 
    opacity: 0.7;
    margin-top: 10px;
}

h3 {
    font-family: "raleway";
    font-size: 18px;
    text-align: left;
    color:#355749;
    margin-top: 20px;
    font-weight: 600;
}

.foto {
    padding-right: 10px;
    padding-top: 10px;
    float: left;
    margin-right: 15px;
}

.foto-tekst::after {
    display: flex;
    content: "";
    clear: both;
    justify-content: center;
}
